In [3]:
import sqlite3

In [4]:
connection = sqlite3.connect("pets.db")
cursor = connection.cursor()

In [5]:
cursor.execute("""create table if not exists pets (
               id integer primary key autoincrement,
        name text not null,
        type text not null,
        age integer,
        owner text
    )
""")
connection.commit()

In [7]:
name = "Tinku"
cursor.execute(""" insert into pets (name, type, age, owner) 
        values (?,?,?,?)""",(name,"dog",3,"Navya"))
connection.commit()

In [8]:
for name in ["lutki","chutki","heidi"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """,(name,"dog",9,"Navya"))
    connection.commit()

In [9]:
for name in ["sandy","muffin","shadow"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """,(name,"cat",9,"greg"))
    connection.commit()

In [10]:
cursor.execute("""select * from pets where type=?""",("dog",))
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Tinku', 'dog', 3, 'Navya')
(2, 'lutki', 'dog', 9, 'Navya')
(3, 'chutki', 'dog', 9, 'Navya')
(4, 'heidi', 'dog', 9, 'Navya')

In [11]:
cursor.execute("""
    update pets
    set age = ? 
    where name = ?
    """, (1,"lutki"))
connection.commit()

In [12]:
cursor.execute("""
    delete from pets
    where type = ?
    """, ("cat",))
connection.commit()

In [15]:
cursor.execute("""select * from pets """)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Tinku', 'dog', 3, 'Navya')
(2, 'lutki', 'dog', 1, 'Navya')
(3, 'chutki', 'dog', 9, 'Navya')
(4, 'heidi', 'dog', 9, 'Navya')